<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Twitter layout html css</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/receipt.css'>
    <link rel='stylesheet' href='/css/button-image.css'>
    <link rel="stylesheet" href='/css/stats.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>

    <script>
        var randomScalingFactor = function () {
            return Math.round(Math.random() * 120 + 20);
        };
        window.addEventListener('load', () => window.resizeTo(1, 1));
    </script>
</head>

<body translate="no">
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-collapse navbar-collapse-1 collapse" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                    </li>
                    <li>
                        <a href="#fake"><span class="glyphicon glyphicon-cog"></span> Settings</a>
                    </li>
                    <li class="active">
                        <a href="/stats.html"><span class="glyphicon glyphicon-signal"></span> Stats</a>
                    </li>
                    <li>
                        <a onclick="displayReceipts()" href="#receipts" data-toggle="modal" data-target="#myModal"><span
                                class="glyphicon glyphicon-list-alt"></span> Receipts</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default stats-all">
                    <div class="panel-heading clearfix">
                        <div class="pull-right">
                                <select class="form-control form-control-sm header-select" autocomplete="off" id="select1">
                                        <option value="Food" selected>Food</option>
                                        <option value="Health">Health</option>
                                        <option value="Clothing">Clothing</option>
                                        <option value="Electronics">Electronics</option>
                                        <option value="Entertainment">Entertainment</option>
                                        <option value="Travel">Travel</option>
                                    </select>
                        </div>
                        
                    </div>
                    
                    <div class="panel-body">
                        <canvas id="tagbar1"></canvas>
                    </div>
                    <select class="form-control form-control-sm" id="select10">
                        <option>You</option>
                        <option>Friend</option>
                        <option>Local</option>
                    </select>
                    <div class="panel-body">
                        Price
                        <canvas id="productbar1_price"></canvas>
                    </div>
                    <select class="form-control form-control-sm" id="select11">
                            <option>You</option>
                            <option>Friend</option>
                            <option>Local</option>
                    </select>
                    <div class="panel-body">
                        Quantity
                        <canvas id="productbar1_quantity"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="panel panel-default stats-all">
                        <div class="panel-heading clearfix">
                            <div class="pull-right">
                                    <select class="form-control form-control-sm header-select" autocomplete="off" id="select2">
                                            <option value="Food">Food</option>
                                            <option value="Health" selected>Health</option>
                                            <option value="Clothing">Clothing</option>
                                            <option value="Electronics">Electronics</option>
                                            <option value="Entertainment">Entertainment</option>
                                            <option value="Travel">Travel</option>
                                        </select>
                            </div>
                            
                        </div>
                        
                        <div class="panel-body">
                            <canvas id="tagbar2"></canvas>
                        </div>
                        <select class="form-control form-control-sm" id="select20">
                            <option>You</option>
                            <option>Friend</option>
                            <option>Local</option>
                        </select>
                        <div class="panel-body">
                            Price
                            <canvas id="productbar2_price"></canvas>
                        </div>
                        <select class="form-control form-control-sm" id="select21">
                                <option>You</option>
                                <option>Friend</option>
                                <option>Local</option>
                        </select>
                        <div class="panel-body">
                            Quantity
                            <canvas id="productbar2_quantity"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="panel panel-default stats-all">
                            <div class="panel-heading clearfix">
                                <div class="pull-right">
                                        <select class="form-control form-control-sm header-select" autocomplete="off" id="select3">
                                                <option value="Food">Food</option>
                                                <option value="Health">Health</option>
                                                <option value="Clothing">Clothing</option>
                                                <option value="Electronics">Electronics</option>
                                                <option value="Entertainment">Entertainment</option>
                                                <option value="Travel" selected>Travel</option>
                                            </select>
                                </div>
                                
                            </div>
                            
                            <div class="panel-body">
                                <canvas id="tagbar3"></canvas>
                            </div>
                            <select class="form-control form-control-sm" id="select30">
                                <option>You</option>
                                <option>Friend</option>
                                <option>Local</option>
                            </select>
                            <div class="panel-body">
                                Price
                                <canvas id="productbar3_price"></canvas>
                            </div>
                            <select class="form-control form-control-sm" id="select31">
                                    <option>You</option>
                                    <option>Friend</option>
                                    <option>Local</option>
                            </select>
                            <div class="panel-body">
                                Quantity
                                <canvas id="productbar3_quantity"></canvas>
                            </div>
                        </div>
                    </div>

            <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Summary
                        </div>
                        <div class="panel-body">
                                <div class="col-md-4">
                                        <canvas id="summarypie"></canvas>
                                </div>
                                <div class="col-md-8">
                                        <canvas id="summaryspending"></canvas>
                                </div>
                                
                        </div>
                    </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="myModal" tabindex=-1 role="dialog">
        <div class="modal-dialog custom-modal" role="document">
            <div class="">
                <div id="modalBody" class="col-md-12">
                    DYNAMIC CONTENT HERE
                </div>
            </div>
        </div>
    </div>

    <a id="buttonAdd" href="#">
        <span class="glyphicon glyphicon-plus my-float"></span>
    </a>

    <!-- <script src="example_receipt.js"></script>
    <script src="example_pie.js"></script>
    <script src="example_bar.js"></script> -->
    <script src="/scripts/charts/tag_bar.js"></script>
    <script src="/scripts/charts/product_bar.js"></script>
    <script src="/scripts/charts/summary_pie.js"></script>
    <script src="/scripts/charts/summary_bar.js"></script>

    <script>
        window.onload = function () {
            let category_stats = {
                Food: null,
                Entertainment: null,
                Health: null,
                Clothing: null,
                Electronics: null,
                Travel: null
            }
            let count = 6;
            for (cat in category_stats) {
                let req = new XMLHttpRequest();
                req.open('get', `category_stats?category=${cat}`);
                req.onreadystatechange = (function() {
                    if (req.readyState == XMLHttpRequest.DONE) {
                        category_stats[this] = JSON.parse(req.responseText);
                        count--;
                        if (count == 0) {
                            let cats = ['Food', 'Health', 'Travel'];
                            for (let i = 0; i < 3; i++) {
                                let s = category_stats[cats[i]];
                                let chart_data = [s.userTotal.price, s.friendsTotal.price, s.globalTotal.price];
                                let ctx_bar = document.getElementById(`tagbar${i+1}`).getContext('2d');
                                let tag_bar = f_tag_bar(chart_data);
                                window[`tagbar${i+1}`] = new Chart(ctx_bar, tag_bar);
                                
                                for (let field of ['price', 'quantity']) {
                                    let p_chart_data = s.userTop[field].map(p => p[field]);
                                    let p_chart_labels = s.userTop[field].map(p => p.name);
                                    let p_ctx_bar = document.getElementById(`productbar${i+1}_${field}`).getContext('2d');
                                    let p_product_bar = f_product_bar(p_chart_data, p_chart_labels);
                                    window[`productbar${i+1}_${field}`] = new Chart(p_ctx_bar, p_product_bar);
                                }
                            }
                            //category_stats.Food.userTotal.price
                        }
                    }
                }).bind(cat);
                req.send();
            }

            let totals = null;
            let t_req = new XMLHttpRequest();
            t_req.open('get', '/totals');
            t_req.onreadystatechange = function() {
                if (t_req.readyState == XMLHttpRequest.DONE) {
                    totals = JSON.parse(t_req.responseText);
                    let chart_data = [];
                    let chart_labels = [];
                    for (cat in totals.user) {
                        chart_data.push(totals.user[cat].price);
                        chart_labels.push(cat);
                    }
                    let ctx_bar = document.getElementById('summarypie').getContext('2d');
                    let summary_pie = f_summary_pie(chart_data, chart_labels);
                    window.summaryPie = new Chart(ctx_bar, summary_pie);
                }
            }
            t_req.send();

            let monthTotals = null;
            let m_req = new XMLHttpRequest();
            m_req.open('get', '/month_totals');
            m_req.onreadystatechange = function() {
                if (m_req.readyState == XMLHttpRequest.DONE) {
                    totals = JSON.parse(m_req.responseText);
                    let chart_data = [];
                    let chart_labels = [];
                    for (let i = 0; i < 12; i++) {
                        chart_data.push(totals.user[i].price);
                        chart_labels.push(totals.user[i].start);
                    }
                    let ctx_bar = document.getElementById('summaryspending').getContext('2d');
                    let summary_spending = f_summary_spending(chart_data, chart_labels);
                    window.summarySpending = new Chart(ctx_bar, summary_spending);
                }
            }
            m_req.send();
            for (let i = 0; i < 3; i++) {
                document.getElementById(`select${i+1}`).addEventListener('change', event => {
                    let s = category_stats[event.target.value];
                    let chart_data = [s.userTotal.price, s.friendsTotal.price, s.globalTotal.price];
                    let canvas = document.getElementById(`tagbar${i+1}`);
                    let ctx_bar = canvas.getContext('2d');
                    ctx_bar.clearRect(0, 0, canvas.width, canvas.height);
                    window[`tagbar${i+1}`].destroy();
                    let tag_bar = f_tag_bar(chart_data);
                    window[`tagbar${i+1}`] = new Chart(ctx_bar, tag_bar);

                    for (let field of ['price', 'quantity']) {
                        let scope = "";
                        let j = (field == 'price' ? 0 : 1);
                        let s0 = document.getElementById(`select${i+1}${j}`);
                        switch (s0.options[s0.selectedIndex].value) {
                            case 'You':
                                scope = "userTop";
                                break;
                            case 'Friend':
                                scope = "friendsTop";
                                break;
                            case 'Local':
                                scope = "globalTop";
                                break;
                        }
                        let p_chart_data = s[scope][field].map(p => p[field]);
                        let p_chart_labels = s[scope][field].map(p => p.name);
                        let p_canvas = document.getElementById(`productbar${i+1}_${field}`);
                        let p_ctx_bar = p_canvas.getContext('2d');
                        p_ctx_bar.clearRect(0, 0, p_canvas.width, p_canvas.height);
                        window[`productbar${i+1}_${field}`].destroy();
                        let p_product_bar = f_product_bar(p_chart_data, p_chart_labels);
                        window[`productbar${i+1}_${field}`] = new Chart(p_ctx_bar, p_product_bar);
                    }
                });

                for (let j = 0; j < 2; j++) {
                    document.getElementById(`select${i+1}${j}`).addEventListener('change', event => {
                        let s = category_stats[document.getElementById(`select${i+1}`).value];

                        let s0 = document.getElementById(`select${i+1}${j}`);
                        switch (s0.options[s0.selectedIndex].value) {
                            case 'You':
                                scope = "userTop";
                                break;
                            case 'Friend':
                                scope = "friendsTop";
                                break;
                            case 'Local':
                                scope = "globalTop";
                                break;
                        }

                        let field = ['price', 'quantity'][j];

                        let p_chart_data = s[scope][field].map(p => p[field]);
                        let p_chart_labels = s[scope][field].map(p => p.name);
                        let p_canvas = document.getElementById(`productbar${i+1}_${field}`);
                        let p_ctx_bar = p_canvas.getContext('2d');
                        p_ctx_bar.clearRect(0, 0, p_canvas.width, p_canvas.height);
                        window[`productbar${i+1}_${field}`].destroy();
                        let p_product_bar = f_product_bar(p_chart_data, p_chart_labels);
                        window[`productbar${i+1}_${field}`] = new Chart(p_ctx_bar, p_product_bar);
                    });
                }
            }

        };
    </script>


</body>

</html>